[Unit]
Description=Cliphist GUI with system tray
Documentation=https://github.com/midoBB/cliphist-gui
PartOf=graphical-session.target
After=graphical-session.target waybar.service
Wants=cliphist-text.service cliphist-images.service

[Service]
Type=simple
ExecStart=%h/.local/bin/cliphist-gui
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
