* {
	border: none;
	border-radius: 0;
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
}

#window {
	font-weight: bold;
	color: white;
}

window#waybar {
	background: rgb(0, 0, 0);
	color: white;
}

tooltip {
	background: rgba(43, 48, 59, 0.5);
	border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
	color: white;
}

#workspaces button {
	padding: 0 15px;
	background: transparent;
	color: #888888;
	border-bottom: 3px solid transparent;
	transition: all 0.1s ease;
}

#workspaces button.active {
	/* Old reddish-purple gradient */
	/* background: linear-gradient(
		135deg,
		rgba(255, 51, 102, 0.3),
		rgba(204, 51, 255, 0.3)
	); */
	/* New greenish to bluish gradient */
	background: linear-gradient(
		135deg,
		rgba(0, 255, 153, 0.3),
		rgba(51, 204, 255, 0.3)
	);
	color: white;
	font-weight: bold;
}

#workspaces button.focused {
	/* Old reddish-purple gradient */
	/* background: linear-gradient(
		135deg,
		rgba(255, 51, 102, 0.3),
		rgba(204, 51, 255, 0.3)
	); */
	/* New greenish to bluish gradient */
	background: linear-gradient(
		135deg,
		rgba(0, 255, 153, 0.3),
		rgba(51, 204, 255, 0.3)
	);
	color: white;
	font-weight: bold;
}

#workspaces button:hover {
	background: rgba(255, 255, 255, 0.1);
	color: white;
}

#battery {
	color: white;
}

#battery.charging {
	color: white;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

#battery.warning:not(.charging) {
	background: #f53c3c;
	color: white;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#clock {
	padding: 0 6px;
	color: white;
	font-weight: bold;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
	padding: 0 6px;
	color: white;
}
